<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home">
      <ion-icon name="home-outline" />
      <ion-label>Recipes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meal-planner" href="/meal-planner">
      <ion-icon name="calendar-outline" />
      <ion-label>Planner</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shopping-list" href="/shopping-list">
      <ion-icon name="cart-outline" />
      <ion-label>Shopping</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-recipes" href="/my-recipes">
      <ion-icon name="bookmark-outline" />
      <ion-label>Saved</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
